*{
  align-items: center;
  text-align: center;
}

.grid {
  height: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px auto 0px auto;
  padding: 10px;
}
.grid > div {
  display: flex;
  margin-top: 5px;
  cursor: pointer;
  border: none;
  text-align: center;
}
img {
  margin-left: 10px;
  width: 90%;
  height: 200px;
}
.header{
  font-size: larger;
  font-weight: bolder;
}
.btn{
  background-color: greenyellow;
  cursor: pointer;
  border: 1px solid gray;
  padding: 10px;
  font-weight: bolder;
}

@media screen and (max-width:768px) {
  .grid{
   grid-template-columns: repeat(3, 1fr);
     
   }
 }

@media screen and (max-width:425px) {
  .grid{
   grid-template-columns: repeat(2, 1fr);
     
   }
 }
@media screen and (max-width:350px) {
  .grid{
   grid-template-columns: repeat(1, 1fr);
     
   }
 }