.main{
    height: 150px;
    width: 95%;
    margin: auto;
    display: flex;
    background-color:white;
    /* border: 1px solid green; */
}
.proimg{
    margin-top: 12px;
    height: 120px;
    width: 80px;
    margin-left: 20px;

}

.detail{
    height: 120px;
    width: 200px;
    margin-top: 10px;
    margin-left: 20px;
    

}

.detail p{
    font-size: 13px;
   text-align: left;

}

.detail h4{
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    width: 100%;

}


#d1 h5{
  font-weight: 500;
  font-size:12px;
  margin-top: 5px;
}
#d1 p{
    margin-top: 5px;
    font-weight: 200;
}
.d2{
    height: 20px;
    width: 230px;
    display: flex;
    gap:1px
}

#pink{
    color:rgb(255,51,153);
    font-size: 5px;
    font-weight: 300;
    margin-left: 5px;



}


#remove{
    display: flex;
    justify-content: space-between;
    width: 140px;

}

#remove u{
  font-size: 11px;
  font-weight: 400;
  
}

#remove u:hover{
    color:rgb(255,51,153);
    cursor: pointer;

}


.qut{
    display: flex;
    height: 50px;
    margin-left: 130px;
    margin-top: 20px;
    font-size: small;
} 


.quant{
    height: 30px;
    border: 1px solid black;

}


.last1{
    margin-left: 150px;
    margin-bottom: 50px;

}
.last1 h1{
      font-weight: 500;
}


